{% extends 'home/base.html' %}

{% block content %}
    <div class="container m-5">
        {% if user.is_authenticated %}
        <p>Welcome! {{user.username}} </p> <br>
        <p>Now you can <a href="{% url 'logout' %}">Logout</a>!</p>
        {% else %}
        <p>Welcome! Guest </p>
        <p>Go to <a href="{% url 'login' %}">Login</a> page.</p> | <p>Do you like to change password? Go to <a href="{% url 'password-change' %}">Change Password</a> page.</p> | <p>Fot reseting password, go to <a href="{% url 'password_reset' %}">Reset password</a> page.</p>
        {% endif %}
    </div>
{% endblock %}