{% extends 'courses/base.html'%}

{% block content %}

<div class="container">
  <h1>Course Desc.</h1>
  <hr>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">name</th>
        <th scope="col">description</th>
        <th scope="col">features</th>

      </tr>
    </thead>
    <tbody>
      {% for c in courses %}
      <tr>
        <th scope="row">{{c.id}}</th>
        <td>{{c.name}}</td>
        <td>{{c.description}}</td>
        <td>{{c.features}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}