{% extends 'courses/base.html'%}

{% block content %}

    <div class="container">
        <h1>Course Desc.</h1>
        <hr>
        
        <table class="table">
            <thead>
              <tr>
                  <th scope="col">id</th>
                <th scope="col">name</th>
                <th scope="col">description</th>
                <th scope="col">features</th>
                
              </tr>
            </thead>
            <tbody>
               {% if single_course %}
              <tr>
                <th scope="row">{{single_course.id}}</th>
                <td>{{single_course.name}}</td>
                <td>{{single_course.description}}</td>  
                <td>{{single_course.features}}</td>
              </tr>
              {% else %}
              <tr>
                <td>
                  <p>No course found</p>
                </td>
              </tr>
              
              {% endif %}
            </tbody>
          </table>
    </div>
{% endblock %}